/.idea
*.pyc
/.idea
/output_base
/Our_GCG_target_len_20
/output
/.idea
/imgs
/test_select_method
/test_select_vicuna_method/ours
attack_llm_core_base_select_mothed.py
/grad_logs
/Llama-2-7b-chat-hf_result
